* {
  padding: 0;
  margin: 0;
}
table {
  margin: 10px;
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
}
tr:nth-child(odd) {
  border-top: 1px solid #ccc;
}
tr:nth-child(even) {
  border-top: 2px solid #ccc;
  background-color: #eee;
}
tr:nth-child(1) {
  font-weight: bolder;
}
td {
  padding: 5px 10px;
  border: none;
}
