body{
    background-color: white;
}
#Container{
    width:1200px;
    height:600px;
    border:1px solid rebeccapurple;
    padding:10px;
}
#Header{
    width:96%;
    height:120px;
    padding:20px;
    border: 1px solid #333;
    border-radius: 80px;
}
.logo{
    
}